body.is-preload .banner-headshot {
	transform: none;
	opacity: 1;
}

body.is-preload #banner h2 {
	opacity: 1;
	transform: none;
	filter: none;
}

body.is-preload #banner p {
	opacity: 1;
	transform: none;
	filter: none;
}
